
.nav-bar{
    color:#8A9BA8;
    background-color: #292c34;
    max-height:100px;
}
.nav-bar-brand{
    font-size: 30px;
    
}
.nav-search{
    width:30%;
}
.invalid-toast{
    margin:0 0 0 250px;
}