.App {
  text-align: center;
  max-height: 100%;
}
.App-content {
  display: flex;
  align-items: center;
  padding: 150px;
}
.table-conatiner {
  flex-grow: 1;
}
.graph-container {
  flex-grow: 1;

  justify-content: center;
  display: flex;
}
