@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
.App {
  text-align: center;
}
.App-content {
  display: flex;
  align-items: center;
}

.search-container {
  width: 50%;
}
.table-container {
  width: 100%;
  justify-content: center;
  padding: 40px 0 20px 0;
  display: flex;
}
