.App {
  text-align: center;
  max-height: 500px;
}
.App-content {
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 40px);
}
.header{

}

.data-content {
  margin-left: 500px;
}
.table-col {
  margin-bottom: 150px;
}
.row {
  display: inline !important;
}
.table-conatiner {
  flex-grow: 1;
  margin-right: 100px !important;
}
.graph-container {
  flex-grow: 1;

  justify-content: center;
  display: flex;
}
.footer {
  height: 100%;
  border-bottom: 1px solid grey;
  background-color: rgb(246, 248, 248);
}
